.header-container{
    position:relative;
    margin-bottom: 20px;
}

#log-out-button{
    width: 80px;
    position:absolute;
    top:10px;
    right:15px;
    border-radius: 15px;
}

#logo{
    width: 100px;
    position: absolute;
    top: 0px;
    left: 450px;
}

#logo-text{
    width: 400px;
    position: absolute;
    top: -18px;
    left: 550px;
}

.card-text{
    font-size: 16px;
}

.body-container{
    margin-left: 40px;
    margin-right: 40px;
}

#table-container{
    text-align: center;
    margin: 20px;
    width: 500px;
    height: auto;
}

.card{
    margin-top: 20px;
}

#donut-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#donut{
    width: 20rem;
    height:20rem;
}


